{% extends 'base.html' %}
{% block content %}
<header class="bg-danger py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Redx Ecommerce</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br> <br>
                <p align="justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi molestias praesentium saepe minima fugit error ipsa ipsum recusandae pariatur animi ullam, eaque vero libero, delectus enim esse eveniet voluptates atque debitis. Id cupiditate unde, laboriosam officiis et, reprehenderit saepe temporibus inventore repellendus ipsam consequatur est, ex pariatur optio libero. Fuga mollitia, perferendis illo nihil, totam doloremque dolore in consequatur ipsum nostrum, officia facere temporibus! Esse minima doloribus cumque corporis et! Perspiciatis debitis aut mollitia delectus iure exercitationem dicta non sapiente velit id laboriosam voluptate enim animi vel nesciunt officia labore quisquam adipisci, recusandae at ut blanditiis? Eos molestiae tempore consequatur.
                    <br> <br>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi molestias praesentium saepe minima fugit error ipsa ipsum recusandae pariatur animi ullam, eaque vero libero, delectus enim esse eveniet voluptates atque debitis. Id cupiditate unde, laboriosam officiis et, reprehenderit saepe temporibus inventore repellendus ipsam consequatur est, ex pariatur optio libero. Fuga mollitia, perferendis illo nihil, totam doloremque dolore in consequatur ipsum nostrum, officia facere temporibus! Esse minima doloribus cumque corporis et! Perspiciatis debitis aut mollitia delectus iure exercitationem dicta non sapiente velit id laboriosam voluptate enim animi vel nesciunt officia labore quisquam adipisci, recusandae at ut blanditiis? Eos molestiae tempore consequatur.
                    <br> <br>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi molestias praesentium saepe minima fugit error ipsa ipsum recusandae pariatur animi ullam, eaque vero libero, delectus enim esse eveniet voluptates atque debitis. Id cupiditate unde, laboriosam officiis et, reprehenderit saepe temporibus inventore repellendus ipsam consequatur est, ex pariatur optio libero. Fuga mollitia, perferendis illo nihil, totam doloremque dolore in consequatur ipsum nostrum, officia facere temporibus! Esse minima doloribus cumque corporis et! Perspiciatis debitis aut mollitia delectus iure exercitationem dicta non sapiente velit id laboriosam voluptate enim animi vel nesciunt officia labore quisquam adipisci, recusandae at ut blanditiis? Eos molestiae tempore consequatur.
                </p>
                <br> <br>
            </div>
        </center>
    </div>
</div>

{% endblock %}